# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
qaoa-env/
env/
venv/
.venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore pip environment files
*.egg-info/
*.eggs/
*.whl
*.log

# If you're using Qiskit or other installed packages,
# they will usually go inside your virtual environment folder, e.g., `env/` or `venv/`

# Ignore Jupyter config or cache
.jupyter/

.python-version/
